<div id="doc3" class="yui-t7">
    <div id="hd" class="" role="banner">
        <div class="ui-widget ui-widget-content ui-corners-top ui-widget-header">
            <h1 class="ui-wdiget-header">Header</h1>
            <ul class="menu horizontal ui-tabs-nav">
    	        <!--<li class="ui-state-default ui-corner-top">Stuff 1</li>-->
            </ul>
        </div>
    </div>
    <div id="bd" role="main">
	    <div id="yui-main">
    	    <div id="main_module_container" class="yui-b"></div>
        </div>
    </div>
    <div id="ft" role="contentinfo"><p>Footer</p></div>
</div>